.Layout {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main{
        flex-grow: 1;
        padding: 10rem;
    }
}
.requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;

}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 10px;
    width: 40px;

}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid purple;
    border-radius: 15px;
    width: 20rem;
    height: 20rem;
    position: relative;
}

.resumebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    flex-wrap: wrap;
}
.resumehead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    flex-wrap: wrap;
}

.resumebutton {
    display: flex;
    align-items: center;
    justify-content: justify;
    width: max-content;
    background-color: rgb(129, 7, 200);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius: 15px;
    text-transform: uppercase;
}
.resumebutton:hover {
    background-color: #555;
    cursor: pointer;
    font-weight: 800;
    font-size: large;
}
.resumebutton:visited {
    background-color: rgb(122, 122, 122);
}
.projectbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    background-color: rgb(129, 7, 200);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius: 15px;
    text-transform: uppercase;
}
.projectbutton:hover {
    background-color: #555;
    cursor: pointer;
    font-weight: 800;
    font-size: large;
}
.projectbutton:visited {
    background-color: rgb(129, 7, 200);
}

.gradpic {
    display: flex;
    border-radius: 30%;
    padding: 2px rgb(129, 7, 200);
    border: 2px solid rgb(129, 7, 200);
    background-color:rgb(129, 7, 200);
    width: 15rem;
    height: auto;
}
.resumecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.indexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.profilepic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.profileheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
