.Layout {
    text-decoration: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    main{
        flex-grow: 1;
        padding: 10rem;
    }
}
.requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    color: white;

}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 10px;
    width: 40px;

}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid white;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    position: relative;
    color: white;
}

.resumebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    flex-wrap: wrap;
    color: white;
    width: 40%;
}
.resumehead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    flex-wrap: wrap;
    color: white;
}

.resumebutton {
    display: flex;
    align-items: center;
    justify-content: justify;
    width: max-content;
    color: black;
    background-color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius: 15px;
    text-transform: uppercase;
}
.resumebutton:hover {
    background-color: rgb(149, 118, 7);
    cursor: pointer;
    font-weight: 900;
    font-size: larger;
}
.resumebutton:visited {
    background-color: rgb(149, 118, 7);
}
.projectbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    color:rgb(149, 118, 7) ;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius: 15px;
    text-transform: uppercase;
}
.projectbutton:hover {
    cursor: pointer;
    font-weight: 800;
    font-size: x-large;
}

.gradpic {
    display: flex;
    border-radius: 50%;
    border: 2px solid black;
    width: 15rem;
    height: auto;
}
.resumecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.indexcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.pp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
}
.profilepic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid black;
}
.profilepic:hover {
    border: 10px solid rgb(149, 118, 7);
}
.profileheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.pictainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.aboutpic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    position: relative;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 20px;
    margin: 25px;
    font-size: larger;
}
.contactform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: justify;   
}
.eform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    flex-wrap: wrap;
    border-radius: 15%;
    position: relative;
    padding: 10px;
}
.ebuttons {
    font-size: medium;
    width: 80px;
    height: 80px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 50%;
}
.ebuttons:hover{
    background-color: rgb(149, 118, 7);
    font-size: larger;
    width: 100px;
    height: 100px;
    font-weight: 900;
    padding: 10px;
    border-radius: 50%;
    color: white;
}
.contactlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 100px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    width: 40px;
    border-radius: 15%;
}
.contactlinks:hover{
    color: rgb(149, 118, 7);
    font-size: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contactainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
    padding: 20px;
    margin: 25px;
    font-size: larger;
}
.projectsh1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}