.Layout {
    text-decoration: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    main{
        flex-grow: 1;
        padding: 10rem;
    }
}
.requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    color: white;

}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 10px;
    width: 40px;

}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid white;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    position: relative;
    color: white;
}

.resumebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    flex-wrap: wrap;
    color: white;
    width: 40%;
}
.resumehead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    flex-wrap: wrap;
    color: white;
}

.resumebutton {
    display: flex;
    align-items: center;
    justify-content: justify;
    width: max-content;
    color: black;
    background-color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius: 15px;
    text-transform: uppercase;
    transition: all 1s;
    transition-property: all;
    transition-property: transform;
}
.resumebutton:hover {
    background-color: goldenrod;
    text-decoration: none;
    cursor: pointer;
    font-weight: 900;
    font-size: larger;
    color: white;
    transition: all 1s;
    transform: scale(1);
}

.projectbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    color:white ;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius: 15px;
    text-transform: uppercase;
    transition: all 1s;
    transition-property: all;
    transition-property: transform;
    padding: 10px;
    margin: 15px;
    border: solid 2px white;
}
.projectbutton:hover {
    cursor: pointer;
    font-weight: 800;

    transition: all 1s;
    transform: scale(1.01);
    text-decoration: none;
    color: goldenrod;
}

.gradpic {
    display: flex;
    border-radius: 50%;
    border: 2px solid black;
    width: 15rem;
    height: auto;
}
.resumecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.indexcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.pp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
}
.profilepic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 1s;
    transition-property: all;
    transition-property: transform;
}
.profilepic:hover {
    background-color: goldenrod;
    border: 10px solid goldenrod;
    transition: all 1s;
    transform: scale(1);
}
.profileheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.pictainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.aboutpic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    position: relative;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 20px;
    margin: 25px;
    font-size: larger;
}
.contactform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: justify;   
}
.eform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    flex-wrap: wrap;
    border-radius: 15%;
    position: relative;
    padding: 10px;
}
.ebuttons {
    font-size: medium;
    width: 80px;
    height: 80px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 50%;
    transition: all 1s;
    transition-property: all;
    transition-property: transform;
}
.ebuttons:hover{
    background-color: goldenrod;
    font-size: larger;
    width: 100px;
    height: 100px;
    font-weight: 900;
    padding: 10px;
    border-radius: 50%;
    color: white;
    transition: all 1s;
    transform: scale(1);
}
.contactlinks {

    font-size: 100px;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 15%;
    padding: 15px;
    transition: all 1s;
    transition-property: all;
    transition-property: transform;
}
.contactlinks:hover{
    color: goldenrod;
    font-size: 110px;
    transition: all 1s;
    transform: scale(1);
   
}
.linkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}
.contactainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
    padding: 20px;
    margin: 25px;
    font-size: larger;
}
.projectsh1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}
.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
}
.tech {
    padding: .5rem;
    margin: auto;
    font-size: 1.5rem;
    transition: all 1s;
    transition-property: all;
    transition-property: transform;
}
.tech:hover {
    padding: .5rem;
    margin: auto;
    font-size: 2.5rem;
    color: goldenrod;
    transition: all 1s;
    transform: scale(1);
}
.name {
    font-size: 5rem;
    font-weight: 700;
    margin: 15px;
    padding: 15px;
}
.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 0px;
    transition: transform 500ms;
    text-decoration: none;
  }
  
  
  .item img {
    display: block;
    text-decoration: none;
    max-width: 50%;
    max-height: 50%;
    transition-property: all;
    transition-property: transform;
  }

  .item img:hover {
    display: block;
    border-radius: 50%;
    max-width: 50%;
    background-color: goldenrod;
    max-height: 50%;
    border: 5px solid goldenrod;
    transform: scale(1.05);
    z-index: 1;
    transition: all 1s;
  }
  .carousel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 15px;
      position: relative;
      padding: 20px;
      margin: 25px;
      font-size: larger;
  }
  a {
      text-decoration: none;
  }