.Header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    
    h1 {
        margin: 0;

    }
    nav {
        align-items: center;
        margin: 0;
        a{
            text-decoration: none;
            margin-left: 1rem;
            color: #000;
        }
    }
}