.Header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    color: black;
    background-color: white;
    text-decoration: none;
    
    h1 {
        margin: 0;
        color: black;
        font-size: 80px;
        text-decoration: none;
    }
        h1:hover {
                text-decoration: none;
                font-size: 85px;
                background-color: black;
                color:white;

    }
    nav {
        align-items: center;
        margin: 0;
        text-decoration: none;
        
                
        }
        a{
            text-decoration: none;
            margin-left: 1rem;
            color: black;
            font-size: 20px;
        }
        a:hover {
                text-decoration: none;
                background-color: black;
                color:white;
                font-size: x-large;
                font-weight: bolder;
    }
}

@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
  .kenburns-top {
	-webkit-animation: kenburns-top 4s ease-out both;
	        animation: kenburns-top 4s ease-out both;
}